<!doctype html> 
<html lang="en"> 
<head> 
<title>Recruiting Availability</title>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>--> <!--Comment -->
<script type="text/javascript" src="http://AvailabilityDev01.getangular.com/angular-1.0a.js#database=AvailabilityDev01"></script>
<script type="text/javascript">
days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
hours = [
  {value:08, label:"08:00 - 09:00 am"},
  {value:09, label:"09:00 - 10:00 am"},
  {value:10, label:"10:00 - 11:00 am"},
  {value:11, label:"11:00 - 12:00 am"},
  {value:12, label:"12:00 - 01:00 pm"},
  {value:13, label:"01:00 - 02:00 pm"},
  {value:14, label:"02:00 - 03:00 pm"},
  {value:15, label:"03:00 - 04:00 pm"},
  {value:16, label:"04:00 - 05:00 pm"},
  {value:17, label:"05:00 - 06:00 pm"},
  {value:18, label:"06:00 - 07:00 pm"},
  {value:19, label:"07:00 - 08:00 pm"},
  {value:20, label:"08:00 - 09:00 pm"}
];
offices = [
  {value:"HOM", name:"My Home"},
  {value:"CLS", name:"My Client Site"},
  {value:"BGL", name:"Bangalore"},
  {value:"BEI", name:"Beijing"},
  {value:"CLG", name:"Calgary"},
  {value:"CHN", name:"Chennai"},
  {value:"CHI", name:"Chicago"},
  {value:"DAL", name:"Dallas"},
  {value:"NYC", name:"New York"},
  {value:"LON", name:"London"},
  {value:"MAN", name:"Manchester"},
  {value:"MLB", name:"Melbourne"},
  {value:"PUN", name:"Pune"},
  {value:"SFO", name:"San Francisco"},
  {value:"STK", name:"Stockholm"},
  {value:"SYD", name:"Sydney"},
];
</script>
<style type="text/css">
	@import url(avbapp.css);
</style>
</head> 
<body>
<h1 class="title"> Recruiting Availability </h1>
<div ng-entity="week=Week:{days:[{},{},{},{},{},{},{}]}" ng-entity="twer=Twer">
<table id="nav">
	<tr>
		<td>
		    <!-- week.starting="2009-12-02" -->
		    <input name="week.starting" value="2009-12-09" type="hidden"	/>
			<span class="thisWeek"><a href="javascript:void(0);">&laquo;</a> <span>{{week.starting}}</span> <a href="#week=2009-12-02">&raquo;</a> </span>
		</td>
		<td>
			<label>All week I will be in or near the <select name="wLocation">
				<option value="">--Select--</option>
    		<option ng-repeat="city in $window.offices" value="{{city.value}}">{{city.name}}</option>
			</select> office.
			</label>
		</td>
		<td>
			<a href="javascript:void(0);">Autofill</a> <input type="submit" value="Save">
		</td>
	</tr>
</table>
<table id="week">
	<tr class="days">
		<td ng-repeat="day in $window.days">{{day}}</td>
	</tr>
	<tr class="options">
		<td ng-repeat="day in week.days">
			<select name="wLocation">
        <option value="">--Select--</option>
        <option ng-repeat="city in $window.offices" value="{{city.value}}">{{city.name}}</option>
      </select>
		</td>
	</tr>
	<tr>
		<td ng-repeat="day in week.days"><label><input type="checkbox" value="true" name="day.any">Any Time</label></td>
	</tr>
	<tr ng-repeat="hour in $window.hours">
		<td ng-repeat="day in week.days"><label><input type="checkbox" value="true" name="day[hour.value]">{{hour.label}}</label></td>
	</tr>
</table>
<table id="activity">
	<tr>
		<td ng-repeat="day in week.days">
			<span>I can help with...</span>
			<label><input type="checkbox" value="true" name="day.anything">Anything</label>
			<label><input type="checkbox" value="true" name="day.phone">Phone Interviews</label>
			<label><input type="checkbox" value="true" name="day.intervie">In-Person Interviews</label>
			<label><input type="checkbox" value="true" name="day.review">Code Reviews</label>
		</td>
	</tr>
</table>
<table id="codeReviewTypes">
	<tr>
		<td>
			<span>I am proficient in...</span>
			<blockquote>
				<label><input type="checkbox" value="true" name="week.language.java">Java</label>
				<label><input type="checkbox" value="true" name="week.language.python">Python</label>
				<label><input type="checkbox" value="true" name="week.language.ruby">Ruby</label>
				<label><input type="checkbox" value="true" name="week.language.csarp">C#</label>
				<label>Other <input type="text" name="week.language.other" size="8"></label> {{week.language.other}}
			</blockquote>
		</td>
        <td>
            <span>My home is in (city/town)</span>
            <label><input type="text" value="" name="twer.home_city" size="12"></label>
            <span>My client is in (city/town)</span>
            <label><input type="text" value="" name="twer.client_city" size="12"></label>
        </td>
	</tr>
</table>
</div>
<hr />
<pre>week = {{week}}</pre>
<pre>twer = {{twer}}</pre>
</body>
</html>